{
  "extends": [
    "next/core-web-vitals",
    "prettier"
  ],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "es2022": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/no-unescaped-entities": "off"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
