babel
backrefs
certifi
charset-normalizer
click
colorama
ghp-import
idna
Jinja2
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-get-deps
mkdocs-glightbox
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-video
packaging
paginate
pathspec
platformdirs
Pygments
pymdown-extensions
python-dateutil
PyYAML
pyyaml_env_tag
requests
six
urllib3
watchdog
cairosvg