*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 18px;

	@media (width <= 480px) {
		font-size: 14px;
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.55;
	color: #111;
	background-color: #fff;
}

button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-top: 0;
	padding-top: 0.8em;
}

.layout {
	display: grid;
	grid-template-areas: "aside main";
	grid-template-columns: 1fr 2fr;
	grid-gap: 2rem;
	padding: 0 30px;

	@media (width <= 480px) {
		grid-template-areas: "aside" "main";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		padding: 0 15px;
	}

	& aside {
		grid-area: aside;
	}

	& main {
		grid-area: main;
	}
}