*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
    font-size: 20px;

    @media (width <= 1600px) {
        font-size: 18px;
    }
    
    @media (width <= 1200px) {
        font-size: 17px;
    }

    @media (width <= 960px) {
        font-size: 16px;
    }

    @media (width <= 640px) {
        font-size: 15px;
    }

	@media (width <= 480px) {
		font-size: 14px;
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.55;
	color: #111;
	background-color: #fff;
}

button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-top: 0;
}

h1 {
    margin: 7rem 0 1rem;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 300;

    @media (width <= 960px) {
        margin-top: 3rem;
    }
}

h2 {
    margin: 3rem 0 1rem;
    font-size: 2.5rem;
    font-weight: 300;
}

h3 {
    margin-top: 2rem;
    font-size: 1.6rem;
}

h2 + h3 {
    margin-top: 0;
}

h3 + h4 {
    margin-top: -1.5rem;
    font-style: italic;
    font-size: 0.85rem;
}

dd {
    margin-bottom: 0.5rem;
}

a,
a:link,
.link {
    color: #037;
    text-decoration: underline;
}

a:visited {
    color: color( #037 saturation(-50%) );
}

a:hover,
.link:hover {
    cursor: pointer;
    color: color( #037 tint(30%) );
}

a:active {
    color: color( #037 saturation(50%) );
}

time {
    font-style: italic;
    font-size: 0.85rem;
    line-height: 1;
}

.layout {
    display: grid;
    grid-template-areas: 'logo content navigation';
    grid-template-columns: 0.75fr 2.75fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4rem;
    padding: 20px;

    @media (width <= 960px) {
        grid-template-areas: 'logo navigation' 'content content';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        padding: 10px;
    }
}

.layout__logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (width <= 960px) {
        align-items: flex-start;
    }
}

.layout__content {
    grid-area: content;

    & p {
        & img {
            display: block;
            width: 100%;
            max-width: 40rem;
        }
    }

    & pre {
        font-size: 0.8rem;
        white-space: pre-wrap;
    }
}

.layout__navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}